body {padding-top: 60px;padding-bottom: 40px;}

.sidebar-nav {padding: 9px 0;}

a {color: #333; white-space: nowrap;}
a:hover {color:000; text-decoration:none;}

#myCarousel {background-image: url("/img/gallery/200907_sketch_city_t.gif");}

/* modification of bootstrap css */
.modal.fade {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}​

body .carousel .carousel-inner .item{
	min-height: 300px !important;
}

.carousel-inner .item .row-fluid{
	margin-bottom: 30px;
}