<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/Bootstrap.php" colors="false">
    <testsuites>
        <testsuite name="innn">
            <directory>./module/INNN/test/INNNTest</directory>
        </testsuite>
        <testsuite name="techtree">
            <directory>./module/Techtree/test/TechtreeTest</directory>
        </testsuite>
        <!--<testsuite name="galaxy">
            <directory>./module/Galaxy/test/GalaxyTest</directory>
        </testsuite>-->
        <testsuite name="trade">
            <directory>./module/Trade/test/TradeTest</directory>
        </testsuite>
        <testsuite name="resources">
            <directory>./module/Resources/test/ResourcesTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
