@CHARSET "UTF-8";

@import url("techtree.css");
@import url("galaxy.css");
@import url("fleets.css");

body {padding-top: 60px;padding-bottom: 40px;}
hr {border-color: #ccc}

.navbar-inner {background: #eee}

a {color: #000; white-space: nowrap;}
a:hover {color:000; text-decoration:underline;}

.resource-bar {text-align:center;}
body .nav-list > .active > a, .nav-list > .active > a:hover {background-color: #333;}

.sidebar-nav {padding: 9px 0;}

.center {text-align: center}

/***** modifications of bootstrap css starts here: ****/
.tooltip {z-index:2070;}

.nav-tabs .secondary-nav {float:right; margin-left:10px; margin-right:0;}

[class^="resicon-"],
[class*=" resicon-"] {
  display: inline-block;
  margin-top: 1px;
  padding: 0 3px 0 3px;
  *margin-right: .3em;
  line-height: 1em;
  vertical-align: text-top;
  text-color: #333;
  font-weight: bold;
  border: 1px solid #333;

  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;

}
/**
 * resource icons
 */
/* White icons with optional class, or on hover/active states of certain elements */
.resicon-white,
.nav-pills > .active > a > [class^="resicon-"],
.nav-pills > .active > a > [class*=" resicon-"],
.nav-list > .active > a > [class^="resicon-"],
.nav-list > .active > a > [class*=" resicon-"],
.navbar-inverse .nav > .active > a > [class^="resicon-"],
.navbar-inverse .nav > .active > a > [class*=" resicon-"],
.dropdown-menu > li > a:hover > [class^="resicon-"],
.dropdown-menu > li > a:hover > [class*=" resicon-"],
.dropdown-menu > .active > a > [class^="resicon-"],
.dropdown-menu > .active > a > [class*=" resicon-"],
.dropdown-submenu:hover > a > [class^="resicon-"],
.dropdown-submenu:hover > a > [class*=" resicon-"] {
    text-color: #fff;
}

.resicon-credits {background-color: gold;}
.resicon-supply {background-color: #ddd;}
.resicon-moral {background-color: #fff; }
.resicon-iron {background-color: #ccc;}
.resicon-water {background-color: #66f;}
.resicon-silicates {background-color: #CD853F;}
.resicon-ena {background-color: #9f9;}
.resicon-aku {background-color: #ff9;}
.resicon-lho {background-color: #99f;}

/**
 * technology types
 */
.building {background-color: rgb(180, 180, 255); background-image: linear-gradient(0deg, #99f, #E6E6E6);}
.research {background-color: rgb(180, 255, 180); background-image: linear-gradient(0deg, #9f9, #E6E6E6);}
.ship {background-color: rgb(255, 255, 180); background-image: linear-gradient(0deg, #ff9, #E6E6E6);}
.advisor {}
.building:hover {background-color: rgb(170, 170, 245); background-image: linear-gradient(0deg, #99e, #D6D6D6);}
.research:hover {background-color: rgb(170, 245, 170); background-image: linear-gradient(0deg, #9e9, #D6D6D6);}
.ship:hover {background-color: rgb(245, 245, 170); background-image: linear-gradient(0deg, #ee9, #D6D6D6);}
