@charset "UTF-8"

#colony {/*background: url(../img/screens/city_light.gif) center center no-repeat;*/ min-height: 400px;}
#colony .grid-svg {position: absolute;z-index:0}
#colony .grid a.btn {position: relative;z-index:255}
#visualTechtree .span2 {border: 1px dotted #ddd}
#visualTechtree .grid .row-fluid{ margin-bottom: 50px; }

line.building { border: 2px solid red;}
#visualTechtree a.bar:hover {cursor:pointer}
