@charset "UTF-8"

#colony {/*background: url(../img/screens/city_light.gif) center center no-repeat;*/ min-height: 400px;}
#colony .grid-svg {position: absolute;z-index:0}
#colony .grid a.btn {position: relative;z-index:255}
#visualTechtree .span2 {border: 1px dotted #ddd}
#visualTechtree .grid .row-fluid{ margin-bottom: 50px; }

#visualTechtree a.bar:hover {cursor:pointer}
line.building { border: 2px solid red;}
line:hover,
polyline:hover {
    opacity: 0.5;
}
.notexists {
    color: #777;
}


#techModal .progress.ap_spend a.bar {
    display:hide;
}
#techModal .progress.ap_spend a.bar:hover {
    display:block;
}
