@charset "UTF-8"

#colony {/*background: url(../img/screens/city_light.gif) center center no-repeat;*/ min-height: 400px;}
/*#colony #visualTechtree .grid a.btn {position: relative;z-index:255}*/
#colony #visualTechtree {position:relative; width: 100%; height: 100%;}
#colony #visualTechtree .col-md-2 {border: 1px dotted #ddd;padding: 1px;}
#colony #visualTechtree .grid .row{ margin-bottom: 50px; }
#colony #visualTechtree .grid-svg {position: absolute;z-index:0;height:100%;width:100%;}
#colony #visualTechtree a.progress-bar:hover {cursor:pointer}

line.building { border: 2px solid red;}
line:hover,
polyline:hover { opacity: 0.5;}
.notexists { color: #777;}

.techModal .progress.ap_spend a.progress-bar {display:none;}
.techModal .progress.ap_spend a.progress-bar:hover {display:block;}
