<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being comitted into version control.
 */

return array(
    'db' => array(
        'username' => 'your_username',
        'password' => 'your_password',
    ),
    'logger' => array(
        'writer' => array('string') // and/or FirePHP, ChromePHP,...
    ),
    'tick' => array(
        'length' => 24,
        'calculation' => array (
            'start' => 3,
            'end' => 4
        ),
        'testcase' => 14479 // Tick to use in Testcases
    )
);